<div class="pt-nav-menu">
    <MudNavMenu>
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="/labeltender" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.TableView">
            LabelTender
        </MudNavLink>
    </MudNavMenu>
</div>
